Repository ClassIsland/ClassIsland, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HelloWRC, @ClassIsland/developers-classisland, @DryIce-cc, @Doctor-yoi

.github/CODEOWNERS:

* @HelloWRC @ClassIsland/developers-classisland

# 关键文件
/.github/ @HelloWRC
/tools/ @HelloWRC
*.md @HelloWRC
*.ps1 @HelloWRC

# 构建关键文件
*.csproj @HelloWRC
*.props @HelloWRC
*.targets @HelloWRC

# 关键组件
/ClassIsland/Services/LessonsService.cs @HelloWRC
/ClassIsland/Services/ProfileService.cs @HelloWRC
/ClassIsland/Services/SettingsService.cs @HelloWRC
/ClassIsland/Services/Management/ @HelloWRC
/ClassIsland/MainWindow.xaml* @HelloWRC
/ClassIsland/App.xaml* @HelloWRC
/ClassIsland.Core/ThemeBase.xaml @HelloWRC

# 类别：自动化
**/Action @DryIce-cc @HelloWRC
**/Automation @DryIce-cc @HelloWRC
/ClassIsland.Core/Abstractions/Services/IActionService.cs @DryIce-cc @HelloWRC
/ClassIsland.Core/Abstractions/Services/IAutomationService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/ActionService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/AutomationService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/ActionHandlers @DryIce-cc @HelloWRC
/ClassIsland/Controls/ActionSettingsControls @DryIce-cc @HelloWRC

# 类别：集控/Protobuf
*.proto @Doctor-yoi @HelloWRC

feat: 多周偏移设置控件
  ClassIsland.Core/Abstractions/Services/ILessonsService.cs
  ClassIsland.Core/Extensions/‎ListExtensions.cs
  ClassIsland.Desktop/Properties/launchSettings.json
  ClassIsland/Controls/TimeRuleEditControl.axaml
  ClassIsland/Controls/TimeRuleEditControl.axaml.cs
  ClassIsland/Controls/WeekOffsetSettingsControl.axaml
  ClassIsland/Controls/WeekOffsetSettingsControl.axaml.cs
  ClassIsland/Controls/WeekOffsetSettingsControl.xaml
  ClassIsland/Controls/WeekOffsetSettingsControl.xaml.cs
  ClassIsland/Services/LessonsService.cs
  ClassIsland/ViewModels/WeekOffsetSettingsControlViewModel.cs
  ClassIsland/Views/SettingPages/GeneralSettingsPage.axaml
  ClassIsland/Views/SettingPages/GeneralSettingsPage.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 为天气组件预警信息添加边框
  ClassIsland.Core/Models/Weather/CurrentWeather.cs
  ClassIsland.Core/Models/Weather/ForecastHourly.cs
  ClassIsland/Assets/XiaomiWeather/xiaomi_weather_status.json
  ClassIsland/Controls/WeatherIcons/MaterialDesignWeatherIconTemplate.xaml
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 为天气简报组件预警信息添加边框
  ClassIsland/Controls/Components/WeatherComponent.xaml
  ClassIsland/Themes/DarkTheme.xaml
  ClassIsland/Themes/LightTheme.xaml
Owners: @HelloWRC, @ClassIsland/developers-classisland

style: 修复 ListExtensions.cs 文件名
  ClassIsland.Core/Extensions/ListExtensions.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

Update BugReport.yml
  .github/ISSUE_TEMPLATE/BugReport.yml
Owners: @HelloWRC

feat: 档案管理功能
  ClassIsland.Core/Converters/StringToRadioButtonSelectionConverter.cs
  ClassIsland/Converters/SubjectDictionaryKeyFinderMultiConverter.cs
  ClassIsland/Services/ProfileService.cs
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

doc: 更新 README.md 里的 codename
  README.md
Owners: @HelloWRC

fix: 修复在将周数总数切换到比当前选择轮换周更低的数目时出现 ArgumentOutOfRangeException 的问题
  ClassIsland.Shared/Models/Profile/TimeRule.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 添加 null 检查
  ClassIsland/Controls/TimeRuleEditControl.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

chore: 排除 avalonia.xml
  .gitignore
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  .idea/.idea.ClassIsland/.idea/avalonia.xml
Owners: @HelloWRC, @ClassIsland/developers-classisland

Update BugReport.yml
  .github/ISSUE_TEMPLATE/BugReport.yml
Owners: @HelloWRC

refactor!: 将存储时间点起止时间的数据类型改为 TimeSpan
  ClassIsland.Core/Controls/AttachedSettingsControlPresenter.axaml.cs
  ClassIsland.Core/Controls/LessonsControls/LessonControlExpanded.axaml.cs
  ClassIsland.Core/Controls/LessonsControls/LessonsListBoxItemTemplateMultiConverter.cs
  ClassIsland.Shared/Extensions/CsesExtensions.cs
  ClassIsland.Shared/Models/Profile/TimeLayoutItem.cs
  ClassIsland/Controls/WeekOffsetSettingsControl.axaml.cs
  ClassIsland/Services/ActionService.cs
  ClassIsland/Services/Automation/Triggers/PreTimePointTrigger.cs
  ClassIsland/Services/LessonsService.cs
  ClassIsland/Services/NotificationProviders/AfterSchoolNotificationProvider.cs
  ClassIsland/Services/NotificationProviders/ClassNotificationProvider.cs
  Demos/ClassIsland.IpcDemo/MainWindow.xaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland, @DryIce-cc

chore: Codename: Khaslana
  ClassIsland.Core/AppBase.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复 Color 类型无法被正常保存的问题
  ClassIsland.Core/Converters/ColorHexJsonConverter.cs
  ClassIsland.Shared/Helpers/ConfigureFileHelper.cs
  ClassIsland/Program.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 自定义用户数据文件位置
  ClassIsland/App.axaml.cs
  ClassIsland/Models/ApplicationCommand.cs
  ClassIsland/Program.cs
  ClassIsland/Services/AppUpdating/UpdateService.cs
  ClassIsland/Services/DiagnosticService.cs
  ClassIsland/Services/FileFolderService.cs
  ClassIsland/Services/Management/ManagementService.cs
  ClassIsland/Services/PluginService.cs
  ClassIsland/Services/ProfileService.cs
  ClassIsland/Services/SettingsService.cs
  ClassIsland/Views/SettingsWindowNew.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复日志记录器跨线程记录作用域时出现枚举更改异常的问题
  ClassIsland/Services/Logging/FileLogger.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 基本时间表编辑功能
  ClassIsland.Core/Controls/Field.axaml
  ClassIsland.Core/Helpers/UI/ToastsHelper.cs
  ClassIsland.Core/StylesBase.axaml
  ClassIsland.Shared/Models/Profile/TimeLayoutItem.cs
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 命令回滚
  ClassIsland.PluginSdk/ClassIsland.PluginSdk.targets
Owners: @HelloWRC

fix: 天气简报风向偏转180°
  ClassIsland/Controls/Components/WeatherComponent.xaml
  ClassIsland/Converters/WindDirectionConverter.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 完成移植时间线编辑控件
  ClassIsland.Core/Converters/TimeSpanDeltaToCanvasPosConverter.cs
  ClassIsland.Core/Converters/TimeSpanToCanvasPosConverter.cs
  ClassIsland.Core/Converters/TimeTypeToIconGlyphConverter.cs
  ClassIsland.Core/Converters/TimeTypeToTimeTypeNameConverter.cs
  ClassIsland/App.axaml
  ClassIsland/Behaviors/TimeLineListItemBehavior.cs
  ClassIsland/ClassIsland.csproj
  ClassIsland/Controls/TimeLine/TimeLineBackgroundRulerControl.cs
  ClassIsland/Controls/TimeLine/TimeLineListAdornerStyles.axaml
  ClassIsland/Controls/TimeLine/TimeLineListControl.axaml
  ClassIsland/Controls/TimeLine/TimeLineListControl.cs
  ClassIsland/Controls/TimeLine/TimeLineListControlDataTemplateSelector.cs
  ClassIsland/Controls/TimeLine/TimeLineListItemAdornerTemplateSelector.cs
  ClassIsland/Controls/TimeLine/TimeLineListItemControl.axaml
  ClassIsland/Controls/TimeLine/TimeLineListItemControl.axaml.cs
  ClassIsland/Controls/TimeLine/TimeLineListItemExpandingAdornerControl.axaml
  ClassIsland/Controls/TimeLine/TimeLineListItemExpandingAdornerControl.axaml.cs
  ClassIsland/Controls/TimeLine/TimeLineListItemSeparatorAdornerControl.axaml
  ClassIsland/Controls/TimeLine/TimeLineListItemSeparatorAdornerControl.axaml.cs
  ClassIsland/Controls/TimeLineBackgroundRulerControl.cs
  ClassIsland/Controls/TimeLineListControl.cs
  ClassIsland/Controls/TimeLineListControlDataTemplateSelector.cs
  ClassIsland/Controls/TimeLineListItemControl.xaml
  ClassIsland/Controls/TimeLineListItemExpandingAdornerControl.xaml
  ClassIsland/Controls/TimeLineListItemExpandingAdornerControl.xaml.cs
  ClassIsland/Controls/TimeLineListItemSeparatorAdornerControl.xaml
  ClassIsland/Controls/TimeLineListItemSeparatorAdornerControl.xaml.cs
  ClassIsland/Models/EventArgs/SeparatorLikeTimePointMovedEventArgs.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 课表快速录入功能
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复切换到空时间表的课表时，选择时间表的组合框未清空的问题
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

chore: Update README.md
  README.md
Owners: @HelloWRC

fix: 修复部分 TimeSpan 显示格式化不正确的问题
  ClassIsland.Core/Controls/LessonsControls/LessonControlExpanded.axaml
  ClassIsland/Controls/NotificationProviders/ClassNotificationProviderControl.axaml
Owners: @HelloWRC, @ClassIsland/developers-classisland
