Repository ClassIsland/ClassIsland, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HelloWRC, @ClassIsland/developers-classisland, @DryIce-cc, @Doctor-yoi

.github/CODEOWNERS:

* @HelloWRC @ClassIsland/developers-classisland

# 关键文件
/.github/ @HelloWRC
/tools/ @HelloWRC
*.md @HelloWRC
*.ps1 @HelloWRC

# 构建关键文件
*.csproj @HelloWRC
*.props @HelloWRC
*.targets @HelloWRC

# 关键组件
/ClassIsland/Services/LessonsService.cs @HelloWRC
/ClassIsland/Services/ProfileService.cs @HelloWRC
/ClassIsland/Services/SettingsService.cs @HelloWRC
/ClassIsland/Services/Management/ @HelloWRC
/ClassIsland/MainWindow.xaml* @HelloWRC
/ClassIsland/App.xaml* @HelloWRC
/ClassIsland.Core/ThemeBase.xaml @HelloWRC

# 类别：自动化
**/Action @DryIce-cc @HelloWRC
**/Automation @DryIce-cc @HelloWRC
/ClassIsland.Core/Abstractions/Services/IActionService.cs @DryIce-cc @HelloWRC
/ClassIsland.Core/Abstractions/Services/IAutomationService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/ActionService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/AutomationService.cs @DryIce-cc @HelloWRC
/ClassIsland/Services/ActionHandlers @DryIce-cc @HelloWRC
/ClassIsland/Controls/ActionSettingsControls @DryIce-cc @HelloWRC

# 类别：集控/Protobuf
*.proto @Doctor-yoi @HelloWRC

chore: 将子模块签出到新分支中
  .gitmodules
Owners: @HelloWRC, @ClassIsland/developers-classisland

ci: 引入 Linux 打包操作
  .github/workflows/build_release.yml
  ClassIsland/Views/SettingPages/AboutSettingsPage.axaml.cs
  tools/release-gen/publish.ps1
Owners: @HelloWRC, @ClassIsland/developers-classisland

ci: 修复 Linux 目标构建错误的问题
  ClassIsland/Properties/PublishProfiles/FolderProfile.pubxml
  ClassIsland/Properties/PublishProfiles/Full.pubxml
  ClassIsland/secrets.g.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复在linux下一些奇奇怪怪的问题
  .idea/.idea.ClassIsland/.idea/avalonia.xml
  ClassIsland.Core/Controls/MyWindow.cs
  ClassIsland.Core/StylesBase.axaml
  ClassIsland.Shared/Models/Profile/Subject.cs
  ClassIsland/Helpers/UriProtocolRegisterHelper.cs
  ClassIsland/MainWindow.axaml.cs
  ClassIsland/Program.cs
  ClassIsland/Services/ExactTimeService.cs
  ClassIsland/Views/SettingsWindowNew.axaml
  ClassIsland/secrets.g.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 完成 Linux 平台调用移植
  .idea/.idea.ClassIsland.Filter.Linux/.idea/.gitignore
  .idea/.idea.ClassIsland.Filter.Linux/.idea/.name
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  .idea/.idea.ClassIsland.Filter.Linux/.idea/encodings.xml
  .idea/.idea.ClassIsland.Filter.Linux/.idea/externalDependencies.xml
  .idea/.idea.ClassIsland.Filter.Linux/.idea/indexLayout.xml
  .idea/.idea.ClassIsland.Filter.Linux/.idea/material_theme_project_new.xml
  .idea/.idea.ClassIsland.Filter.Linux/.idea/vcs.xml
  ClassIsland.Core/AppBase.cs
  ClassIsland.Core/Controls/CommonTaskDialogs.cs
  ClassIsland.Desktop/ClassIsland.Desktop.csproj
  ClassIsland.Desktop/Program.cs
  ClassIsland.Filter.Linux.slnf
  ClassIsland.Platforms.Abstractions/Enums/WindowFeatures.cs
  ClassIsland.sln
  ClassIsland/App.axaml.cs
  ClassIsland/MainWindow.axaml.cs
  ClassIsland/Program.cs
  ClassIsland/Views/DevPortalWindow.axaml
  platforms/ClassIsland.Platforms.Linux/ClassIsland.Platforms.Linux.csproj
  platforms/ClassIsland.Platforms.Linux/Services/WindowPlatformService.cs
  platforms/ClassIsland.Platforms.Linux/X.cs
  platforms/ClassIsland.Platforms.Linux/XExtensions.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复 x11 下因窗口监听导致最小化崩溃，及部分窗口事件未监听的问题
  ClassIsland.Platforms.Abstractions/Enums/WindowFeatures.cs
  ClassIsland/App.axaml.cs
  ClassIsland/MainWindow.axaml.cs
  platforms/ClassIsland.Platforms.Linux/Services/WindowPlatformService.cs
  platforms/ClassIsland.Platforms.Linux/X.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复在 Linux 下提醒特效错位的问题
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland/Controls/MainWindowLine.axaml
  ClassIsland/Controls/NotificationEffects/RippleEffect.axaml.cs
  ClassIsland/Views/TopmostEffectWindow.axaml
  ClassIsland/Views/TopmostEffectWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复提醒时主界面边框被异常裁剪的问题
  ClassIsland/Controls/MainWindowLine.axaml
  ClassIsland/Views/TopmostEffectWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复奇奇怪怪的错误 x2
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland/Views/SettingsWindowNew.axaml
  ClassIsland/Views/SettingsWindowNew.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 部分实现 Uri 导航
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland.Core/Controls/MyWindow.cs
  ClassIsland.Core/Controls/NavHyperlink/NavHyperlink.cs
  ClassIsland.Core/StylesBase.axaml
  ClassIsland/App.axaml.cs
  ClassIsland/Views/SettingPages/AboutSettingsPage.axaml
  ClassIsland/Views/SettingPages/GeneralSettingsPage.axaml
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 移植回声洞
  ClassIsland/Controls/TypingControl.axaml
  ClassIsland/Controls/TypingControl.axaml.cs
  ClassIsland/Controls/TypingControl.xaml
  ClassIsland/Controls/TypingControl.xaml.cs
  ClassIsland/Views/SettingPages/AboutSettingsPage.axaml
  ClassIsland/Views/SettingPages/AboutSettingsPage.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 优化云母显示方式
  .idea/.idea.ClassIsland/.idea/avalonia.xml
  ClassIsland.Core/Controls/MyWindow.cs
  ClassIsland.Core/StylesBase.axaml
  ClassIsland.Core/ThemeBase.axaml
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 移植上下课提醒和放学提醒功能
  .idea/.idea.ClassIsland/.idea/avalonia.xml
  ClassIsland/App.axaml.cs
  ClassIsland/Controls/NotificationProviders/AfterSchoolNotificationProvider.axaml
  ClassIsland/Controls/NotificationProviders/AfterSchoolNotificationProvider.axaml.cs
  ClassIsland/Controls/NotificationProviders/ClassNotificationProviderControl.axaml
  ClassIsland/Controls/NotificationProviders/ClassNotificationProviderControl.axaml.cs
  ClassIsland/Services/NotificationProviders/ClassNotificationProvider.cs
  ClassIsland/ViewModels/DevPortalViewModel.cs
  ClassIsland/Views/DevPortalWindow.axaml
  ClassIsland/Views/DevPortalWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 清除全部提醒
  .idea/.idea.ClassIsland/.idea/avalonia.xml
  ClassIsland.Core/Abstractions/Services/INotificationHostService.cs
  ClassIsland/MainWindow.axaml
  ClassIsland/MainWindow.axaml.cs
  ClassIsland/Services/NotificationHostService.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

chore: 适配跨平台发布流程
  .github/workflows/build_release.yml
  platforms/ClassIsland.Platforms.Linux/ClassIsland.Platforms.Linux.csproj
  platforms/ClassIsland.Platforms.Windows/ClassIsland.Platforms.Windows.csproj
  tools/release-gen/create-sign-bundle.ps1
Owners: @HelloWRC

ci: 暂时禁用部分 CI 流程
  ClassIsland.Desktop/Assets/AppLogo.ico
  ClassIsland.Desktop/ClassIsland.Desktop.csproj
  ClassIsland.Desktop/app.manifest
  tools/release-gen/upload.ps1
Owners: @HelloWRC, @ClassIsland/developers-classisland

release: 1.7.101.0
  ClassIsland/Services/AppUpdating/UpdateService.cs
  doc/ChangeLogs/2.0/1.7.101.0/App.md
Owners: @HelloWRC, @ClassIsland/developers-classisland

ci: 临时跳过文件签名
  .github/workflows/build_release.yml
  tools/release-gen/upload.ps1
Owners: @HelloWRC

chore: 将 GitInfo 升级到 3.5.0
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  Global.props
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 再次修复 CI Git 信息获取问题
  .github/workflows/build_release.yml
  Global.props
Owners: @HelloWRC

docs: 添加备案更变公告
  README.md
Owners: @HelloWRC

feat: 实现 ObservableOrderedDictionary
  ClassIsland.Shared/ClassIsland.Shared.csproj
  ClassIsland.Shared/ComponentModels/ObservableOrderedDictionary.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat!: 将档案中的字典更改为 ObservableOrderedDictionary,并将键类型修改为 Guid
  ClassIsland.Core/Abstractions/Services/ILessonsService.cs
  ClassIsland.Core/Controls/AttachedSettingsControlPresenter.axaml.cs
  ClassIsland.Core/Controls/LessonsControls/LessonControlBase.cs
  ClassIsland.Core/Controls/LessonsControls/LessonControlExpanded.axaml.cs
  ClassIsland.Core/Models/ProfileAnalyzing/AttachableObjectAddress.cs
  ClassIsland.Shared.IPC/Abstractions/Services/IPublicProfileService.cs
  ClassIsland.Shared/Extensions/CsesExtensions.cs
  ClassIsland.Shared/Models/Profile/ClassInfo.cs
  ClassIsland.Shared/Models/Profile/ClassPlan.cs
  ClassIsland.Shared/Models/Profile/OrderedSchedule.cs
  ClassIsland.Shared/Models/Profile/Profile.cs
  ClassIsland.Shared/Models/Profile/TimeLayoutItem.cs
  ClassIsland/MainWindow.axaml.cs
  ClassIsland/Models/Rules/CurrentSubjectRuleSettings.cs
  ClassIsland/Models/Settings.cs
  ClassIsland/Services/LessonsService.cs
  ClassIsland/Services/ProfileService.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat!: 彻底移除 ObservableDictionary.cs
  ClassIsland.Core/Abstractions/Services/IActionService.cs
  ClassIsland.Core/Abstractions/Services/IPluginMarketService.cs
  ClassIsland.Core/Abstractions/Services/IProfileAnalyzeService.cs
  ClassIsland.Core/Abstractions/Services/IRulesetService.cs
  ClassIsland.Core/Abstractions/Services/IXamlThemeService.cs
  ClassIsland.Core/Controls/LessonsControls/LessonControlBase.cs
  ClassIsland.Core/Controls/LessonsControls/LessonsListBox.cs
  ClassIsland.Core/Converters/ClassPlanDictionaryValueAccessConverter.cs
  ClassIsland.Core/Converters/MiniInfoGuidToMiniInfoProviderElementMultiConverter.cs
  ClassIsland.Core/Converters/MiniInfoGuidToMiniInfoProviderMultiConverter.cs
  ClassIsland.Core/Converters/SubjectsDictionaryValueAccessConverter.cs
  ClassIsland.Core/Models/Plugin/PluginIndex.cs
  ClassIsland.Core/Models/Plugin/PluginIndexInfo.cs
  ClassIsland.Core/Models/ProfileAnalyzing/AttachableObjectNode.cs
  ClassIsland.Core/Themes/TextBaselineFixes.axaml
  ClassIsland.Shared/ObservableDictionary.cs
  ClassIsland/Controls/LessonControl.xaml.cs
  ClassIsland/MainWindow.axaml.cs
  ClassIsland/Models/Settings.cs
  ClassIsland/Services/MiniInfoProviderHostService.cs
  ClassIsland/Services/PluginMarketService.cs
  ClassIsland/Services/ProfileAnalyzeService.cs
  ClassIsland/Services/XamlThemeService.cs
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
Owners: @DryIce-cc, @HelloWRC, @ClassIsland/developers-classisland

feat: 档案编辑器框架
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland/App.axaml.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
  ClassIsland/Views/ProfileSettingsWindow.xaml
  ClassIsland/Views/ProfileSettingsWindow.xaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix: 修复 LessonsListBox 不显示课程的问题
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland.Core/Controls/LessonsControls/LessonControlMinimized.axaml
  ClassIsland.Core/Controls/LessonsControls/LessonsListBox.cs
  ClassIsland.Core/Converters/CustomKeyDictionaryValueConverter.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat!: Drop ObservableOrderedDictionary
  ClassIsland.Core/Abstractions/Services/IActionService.cs
  ClassIsland.Core/Abstractions/Services/IPluginMarketService.cs
  ClassIsland.Core/Abstractions/Services/IProfileAnalyzeService.cs
  ClassIsland.Core/Abstractions/Services/IRulesetService.cs
  ClassIsland.Core/Abstractions/Services/IXamlThemeService.cs
  ClassIsland.Core/ComponentModels/SyncDictionaryList.cs
  ClassIsland.Core/Controls/LessonsControls/LessonControlBase.cs
  ClassIsland.Core/Controls/LessonsControls/LessonsListBox.cs
  ClassIsland.Core/Converters/ClassPlanDictionaryValueAccessConverter.cs
  ClassIsland.Core/Converters/MiniInfoGuidToMiniInfoProviderElementMultiConverter.cs
  ClassIsland.Core/Converters/MiniInfoGuidToMiniInfoProviderMultiConverter.cs
  ClassIsland.Core/Converters/SubjectsDictionaryValueAccessConverter.cs
  ClassIsland.Core/Models/Plugin/PluginIndex.cs
  ClassIsland.Core/Models/Plugin/PluginIndexInfo.cs
  ClassIsland.Core/Models/ProfileAnalyzing/AttachableObjectNode.cs
  ClassIsland.Shared/ComponentModels/ObservableDictionary.cs
  ClassIsland.Shared/ComponentModels/ObservableOrderedDictionary.cs
  ClassIsland.Shared/Models/Profile/ClassPlan.cs
  ClassIsland.Shared/Models/Profile/Profile.cs
  ClassIsland/Models/Settings.cs
  ClassIsland/Services/MiniInfoProviderHostService.cs
  ClassIsland/Services/PluginMarketService.cs
  ClassIsland/Services/ProfileAnalyzeService.cs
  ClassIsland/Services/XamlThemeService.cs
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
Owners: @DryIce-cc, @HelloWRC, @ClassIsland/developers-classisland

feat: 实现档案编辑器课表的 UI 功能
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland.Core/Controls/Field.axaml
  ClassIsland.Core/Controls/TimeRuleEditControl.axaml
  ClassIsland.Core/Controls/TimeRuleEditControl.axaml.cs
  ClassIsland.Core/Converters/SizeDoubleToCornerRadiusConverter.cs
  ClassIsland.Core/StylesBase.axaml
  ClassIsland.Core/ThemeBase.axaml
  ClassIsland.Core/Themes/ChipListBox.axaml
  ClassIsland.Core/Themes/TextBaselineFixes.axaml
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
  ClassIsland/Views/DevPortalWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 实现课表编辑基本功能
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland.Core/ComponentModels/SyncDictionaryList.cs
  ClassIsland.Core/Controls/Emptiable.axaml
  ClassIsland.Core/Controls/Emptiable.axaml.cs
  ClassIsland.Core/Controls/Empty.axaml
  ClassIsland.Core/Controls/Empty.axaml.cs
  ClassIsland.Core/Controls/TimeRuleEditControl.axaml
  ClassIsland.Core/Helpers/UI/FlyoutHelper.cs
  ClassIsland.Core/StylesBase.axaml
  ClassIsland/App.axaml.cs
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 完善 X11 平台功能，并使用单一 Display 实例
  ClassIsland/Views/WindowRuleDebugWindow.axaml
  ClassIsland/Views/WindowRuleDebugWindow.axaml.cs
  platforms/ClassIsland.Platforms.Linux/Services/WindowPlatformService.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 加入华丽动画和动画等级切换功能
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland.Core/Abstractions/Services/IThemeService.cs
  ClassIsland.Core/AssemblyInfo.cs
  ClassIsland.Core/Behaviors/StackPanelIntroAnimationBehavior.cs
  ClassIsland.Core/StylesBase.axaml
  ClassIsland.Core/Themes/StackPanelIntroAnimation.axaml
  ClassIsland/App.axaml.cs
  ClassIsland/Models/Settings.cs
  ClassIsland/Views/SettingPages/AppearanceSettingsPage.axaml
  ClassIsland/Views/SettingPages/GeneralSettingsPage.axaml
  ClassIsland/Views/SettingPages/GeneralSettingsPage.axaml.cs
  ClassIsland/Views/SettingsWindowNew.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 窗口级 Toast 功能
  .idea/.idea.ClassIsland.Filter.Linux/.idea/avalonia.xml
  ClassIsland.Core/Controls/AppToastAdorner.axaml
  ClassIsland.Core/Controls/AppToastAdorner.axaml.cs
  ClassIsland.Core/Controls/MyWindow.cs
  ClassIsland.Core/Helpers/UI/ToastsHelper.cs
  ClassIsland.Core/Models/UI/ShowToastEventArgs.cs
  ClassIsland.Core/Models/UI/ToastMessage.cs
  ClassIsland/ViewModels/DevPortalViewModel.cs
  ClassIsland/Views/DevPortalWindow.axaml
  ClassIsland/Views/DevPortalWindow.axaml.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 为档案编辑器启用 Mica
  ClassIsland/Views/ProfileSettingsWindow.axaml
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 优化 ClassPlan.TimeLayout 的获取方式，并添加可为 null 注解
  .idea/.idea.ClassIsland/.idea/avalonia.xml
  ClassIsland.Core/Controls/LessonsControls/ClassInfoMultiConverter.cs
  ClassIsland.Core/Controls/LessonsControls/LessonControlBase.cs
  ClassIsland.Shared/Models/Profile/ClassPlan.cs
  ClassIsland/Services/LessonsService.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

style: 使用 region 分类 ProfileSettingsWindow.axaml.cs 的代码
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 实现科目编辑界面
  .idea/.idea.ClassIsland/.idea/avalonia.xml
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
  ClassIsland/Views/SettingPages/AboutSettingsPage.axaml
Owners: @HelloWRC, @ClassIsland/developers-classisland

feat: 优化 Toast 外观和行为
  .idea/.idea.ClassIsland/.idea/avalonia.xml
  ClassIsland.Core/Controls/AppToastAdorner.axaml
  ClassIsland.Core/Helpers/UI/ToastsHelper.cs
  ClassIsland/ViewModels/ProfileSettingsViewModel.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/ProfileSettingsWindow.axaml.cs
  ClassIsland/Views/SettingPages/AboutSettingsPage.axaml.cs
Owners: @HelloWRC, @ClassIsland/developers-classisland

refactor: 优化XAML性能并简化动画代码
  .idea/.idea.ClassIsland/.idea/CopilotChatHistory.xml
  .idea/.idea.ClassIsland/.idea/MarsCodeWorkspaceAppSettings.xml
  .idea/.idea.ClassIsland/.idea/vcs.xml
  .vscode/launch.json
  .vscode/tasks.json
  ClassIsland/MainWindow.xaml
Owners: @HelloWRC, @ClassIsland/developers-classisland

fix(构建): 将powershell命令中的变量替换为直接命令
  ClassIsland.PluginSdk/ClassIsland.PluginSdk.targets
Owners: @HelloWRC

feat: 任意周多周轮换支持
  ClassIsland.Core/Abstractions/Services/ILessonsService.cs
  ClassIsland.Core/Controls/TimeRuleEditControl.axaml
  ClassIsland.Core/Controls/TimeRuleEditControl.axaml.cs
  ClassIsland.Core/Extensions/IntToChineseExtensions.cs
  ClassIsland.Desktop/Properties/launchSettings.json
  ClassIsland.Shared.IPC/Abstractions/Services/IPublicLessonsService.cs
  ClassIsland.Shared/JsonConverters/GuidEmptyFallbackConverter.cs
  ClassIsland.Shared/Models/Profile/TimeLayoutItem.cs
  ClassIsland.Shared/Models/Profile/TimeRule.cs
  ClassIsland/Controls/TimeRuleEditControl.axaml
  ClassIsland/Controls/TimeRuleEditControl.axaml.cs
  ClassIsland/Models/Settings.cs
  ClassIsland/Services/ExactTimeService.cs
  ClassIsland/Services/FileFolderService.cs
  ClassIsland/Services/LessonsService.cs
  ClassIsland/Services/Logging/AppLogger.cs
  ClassIsland/ViewModels/TimeRuleEditViewModel.cs
  ClassIsland/Views/ProfileSettingsWindow.axaml
  ClassIsland/Views/SettingPages/GeneralSettingsPage.axaml
  ClassIsland/Views/WelcomeWindow.xaml
Owners: @HelloWRC, @ClassIsland/developers-classisland
